/* start of general styling */
* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #856240;
}
body {
  background-color: #b2b2b2;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/035/118/345/large/woojin-lee-08.jpg?1614148112);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 42% 50%;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
main {
  width: 100vw;
  height: 100vh;
}
/* end of general styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3em;
}
.column-flex {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#question-area {
  margin-left: 5%;
}

/*start of img styling*/
.img-area {
  position: relative;
  width: 40vw;
  border: 2px solid #e5d9c2;
  margin: 1em;
  padding: 1em;
}
.img-area img {
  object-position: center;
  width: 100%;
  object-fit: cover;
}
img:last-child {
  /* width: 40vw; */
  position: absolute;
  top: 0;
  left: 0;
}
.img-normal {
  filter: brightness(100%);
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.img-black {
  filter: brightness(0%);
  opacity: 0.9;
}

.img-container {
  width: 100%;
}

/* end of img styling */
main section {
  width: 25vw;
  height: 80vh;
}
form {
  height: 50%;
}
/* #question-area {
    justify-content: space-evenly;
} */

/* start of button style */
button {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #b75a49;
  border: none;
  color: #edf5ee;
  border-radius: 25px;
}
/* end of button style */
