/* start of general styling */
* {
  box-sizing: border-box;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  color: #856240;
}
body {
  background-color: #b2b2b2;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/035/118/345/large/woojin-lee-08.jpg?1614148112);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 42% 50%;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
main {
  width: 100vw;
  height: 100vh;
}
.subtitle{
  color: #C6AA8F;
  font-size: 18px;
}
.line{
  width: 100%;
  height: 0.25vh;
  margin: 1em;
  background-color: #E0D6CA;
}
/* end of general styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  column-gap: 2em;
}
.column-flex {
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}
/* start of styling sections */
main > div {
width: 60%;
}
main section {
  background-color:  #EBE4DC;
  padding: 1em;
}
/* start of question area */
#question-area {
  width: 60%;
  box-shadow: #d1c7bf 3px -3px 10px 2px;
}
#title-area{
  width: 100%;
  padding: 1em 1.25em;
  background-color: #F5F1EB;
  border: 2px solid #E0D6CA;
}
form {
  height: 60%;
  width: 100%;
  padding: 1em;
  background-color: #F5F1EB;
  border: 2px solid #E0D6CA;
}

input[type=text]{
  padding: .5em .75em;
  margin: 0.5em;
}
/* start of button style */
button {
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1em;
  background-color: #b75a49;
  border: none;
  color: #edf5ee;
  border-radius: 25px;
}
/* end of button style */

/* end of question area */
/* start of answer area */
#answer-area, #back-card {
  width: 40%;
  padding: 1em;
}
#answer-area {
  background-color: #F5F1EB;
  box-shadow: #d1c7bf 3px -3px 10px;
}
#back-card {
  background-color: #EBE4DC;
  width: 324px;
  height: 393px;
  rotate: 10deg;
  position: absolute;
  box-shadow: #d1c7bf 3px -3px 10px;
  z-index: -1;
}
#answer-area >h2 {
  margin: 0.25em;
}
/*start of img styling*/
.img-area {
  position: relative;
  width: 20vw;
  height: 20vw;
  padding: 0.5em 1em;
  border: 2px solid #e5d9c2;
}
.img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img:last-child {
  /* width: 40vw; */
  position: absolute;
  top: 0;
  left: 0;
}
.img-normal {
  filter: brightness(100%);
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.img-black {
  filter: brightness(0%);
  opacity: 0.9;
}

/* end of img styling */
/* end of answer area */
/* end of styling sections */

